body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(17, 16, 16);
  /* background-image: url("https://images.unsplash.com/photo-1603288967520-f3e04381dc02?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: center;
  background-repeat: no-repeat;
  height: 90vh; */
  background-size: cover;

}

.result {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  color: white;
}

h1 {
 display: flex;
 text-align: left;
 justify-content: left;
 width: 30vw;
 position: relative;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url("https://images.pexels.com/photos/3560044/pexels-photo-3560044.jpeg?auto=compress&cs=tinysrgb&w=600");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 75vh;
  width: 35vw;
  border-radius: 10px;
}

.dat {
  width: 30vw;
  height: 5vh;
  padding: 5px;
  border-radius: 5px;
  font-size: 20px;
  outline: none;
}

.desc {
  width: 30vw;
  height: 15vh;
  outline: none;
  font-size: 20px;
  border-radius: 5px;

}